<footer class="footer">
  <small>
    <%= link_to "Futebol das Duas", root_path %>
    por
    <%= link_to "Gabriel M. de Souza", "https://twitter.com/#!/@gabrielqotsa" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre", sobre_path %></li>
      <li><%= link_to "Contato", contato_path %></li>
    </ul>
  </nav>
</footer>
